<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  
  <?if $(var.Platform)=x64 ?>
		<?define ProductCode = "{1B8FCE50-CE58-43AB-B7C0-9B27EF021DDD}" ?>
  <?else?>
		<?define ProductCode = "{AF9DB009-F84A-41CA-84CB-44A6760A22C4}" ?>
  <?endif?>

  <?define UpgradeCode = "{169B4C4F-13A0-41D0-96A7-3706CC57F55B}" ?>
  <?define BuildVersion = "1.0.0.0" ?>
  
	<Product Id="$(var.ProductCode)" 
           Name="!(loc.ProductName_$(var.Platform))" 
           Language="!(loc.Language)" 
           Version="$(var.BuildVersion)"
           Manufacturer="!(loc.Company)"
           UpgradeCode="$(var.UpgradeCode)">
		<Package InstallerVersion="200" 
             Compressed="yes" 
             InstallScope="perMachine"
						 Manufacturer="!(loc.Company)"
             Description="!(loc.Description)"
             Keywords="!(loc.Keywords)"
             Comments="!(loc.Comments)"
             Languages="!(loc.Language)"/>

		<MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeErrorMessage)" />
    
		<MediaTemplate EmbedCab="yes" />

    <Icon Id="Icon.ico" SourceFile="$(var.GameUpdater.ProjectDir)\Assets\logo.ico"/>
    
    <Property Id="APPPRODUCTICON">Icon.ico</Property>
    <Property Id="APPURLINFOABOUT">http://marius-butz.de</Property> <!-- REPLACE WITH YOUR WEBSITE! -->

    <!-- WIX UI -->
    <UIRef Id="WixUI_Minimal"/>
    <WixVariable Id="WixUIDialogBmp" Value="$(var.ProjectDir)\Assets\Background.bmp"/>
    <WixVariable Id="WixUIBannerBmp" Value="$(var.ProjectDir)\Assets\Banner.bmp"/>
    <WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)\Assets\License.rtf"/>

		<Feature Id="ProductFeature" Title="!(loc.ProductName_$(var.Platform))" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

</Wix>
